<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% if page_title %}{{ page_title }} — {% endif %}{{ shop.name }}</title>
    <meta name="description" content="{{ shop.meta_description }}" />
    {{ 'styles.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>

  <body>
    {% section 'header' %}
    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}

    {{ 'theme.js' | asset_url | script_tag }}
    {{ content_for_footer }}
  </body>
</html>
